html {
  background-color: #c9b5ab;
}

h1 {
  font-family: "PT Sans", sans-serif;
}

nav ol li {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
  list-style-type: none;
}

nav ol li a {
  color: #8f2440;
  text-decoration: none;
}

figure figcaption {
  font-style: italic;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

dt {
  font-weight: bold;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: none;
}

.p {
  font-weight: 700;
  font-family: "PT Serif", serif;
}

strong {
  font-weight: normal;
}

img {
  width: 25rem;
}

cite {
  line-height: 1.5;
}
